.happcustomewrCard {
  width: 390px;
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: #32b0e2;
  box-shadow: 0px 4px 22px rgba(169, 169, 169, 0.25);
  border-radius: 6px;
  display: flex;
  justify-content: center;

  flex-direction: column;
  padding-bottom: 0px;
  
  position: relative;
}
.happcustomewrCard p {
  color: #fff;
  font-weight: 300;
}
.happcustomewrCard img {
  position: absolute;
  right: 20px;
  top: 25px;
}
.text-end {
  text-align: end !important;
}

.customerHeading {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 40px;
}
.customerSwiper ,.swiper-slide  {
    margin-right: 0px !important;
    display: flex !important;
    justify-content: center !important;
}
.customerSwiper {
    padding-bottom: 40px;
  
    
    
}

@media only screen and (max-width: 567px){
    /*Tablets [601px -> 1200px]*/
    .happcustomewrCard {
        width: 70%;
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }      
    .happcustomewrCard img {
        width: 30px;
    }

}